.root {
    font-size: 16px;

    

    .fbButton {
        margin-top: 0.25em;

        
    }
}

<<<<<<< Updated upstream
.oAuthLogin {
    margin-top: 0.25em;
    
    button {
        padding: 0.5rem 1rem;
        background-color: #336699;
        color: #FFF;

        &:hover {
            background-color: #FFFFFF;
            color: #336699;
        }
    }
=======
p{
  margin: 20px 0;
  text-align: center;
  font-weight: 600;
>>>>>>> Stashed changes
}