button {
    margin: .5rem 0 .5rem 0;
    padding: .75rem 0 .75rem 0;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-content: center;

    p {
        margin: 0 .5rem 0 .5rem;
        align-self: center;
    }
}
.primary-button {
    background-color: $color--blue;
    color: $color--white;

    &:hover {
        background-color: $color--light-gray;
        color: $color--black;
    }
}
.secondary-button {
    background-color: $color--light-gray;
    color: $color--black;

    &:hover {
        background-color: $color--blue;
        color: $color--white;
    }
}
.full {
    width: 90%;
}
.half {
    width: 42.5%;
}