button {
    padding: .5rem 0 .5rem 0;
    border: none;
    border-radius: 8px;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
}
.primay-button {
    background-color: $color--blue;
    color: $color--white;

    &:hover {
        background-color: $color--light-gray;
        color: $color--black;
    }
}
.secondary-button {
    background-color: $color--light-gray;
    color: $color--black;

    &:hover {
        background-color: $color--blue;
        color: $color--white;
    }
}
.full {
    width: 90%;
}
.half {
    width: 42.5%;
}