@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

body,
input,
textarea,
button {
  font-family: "Inter", sans-serif;
  font-size: 100%;
  color: $color--black;
  letter-spacing: -0.002em;
}
